<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
<div class="navbar">
    <h1>mySchedule</h1>
    <a href="/main">Home</a>
    <a href="/about">About</a>
    <a class="active" href="/contact">Contact</a>
    <input type="text" placeholder="Search..">
    <a href="/login" class="signin-btn" id="authButton">Sign In</a>
</div>
</header>

<div class ="parallax">
    <div class="overlay">
        <h1>Pinned Friends:</h1>
        <div id="pinned-friends"></div>
            <!--<div class="friend">
                <span class="name">dad</span>
                <span class="status"></span>
            </div>
            <div class="friend">
                <span class="name">mom</span>
                <span class="status"></span>
            </div>-->
    </div>
</div>

<div class ="daddy">
    <p>daddy<br>d<br>d<br>d<br>d</p>
</div>

<div class="parallax2">
</div>

<div class ="daddy2">
    <p>mom<br>m<br>m<br>m<br>m<br>m<br>m<br>m<br>m<br>m<br>m</p>
</div>

<div class="parallax3">
    
</div>

<script src="js/main.js"></script>
</body>
</html>
