<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="friends-page">
<header>
<div class="navbar">
    <h1>mySchedule</h1>
    <a href="/index">Home</a>
    <a class="active" href="/friends">Friends</a>
    <a href="/schedule">Schedule</a>
    <a href="/login" class="signin-btn" id="authButton">Sign In</a>
</div>
</header>

<div class="friends-layout">
    <!-- LEFT SIDEBAR -->
    <div class="sidebar">
        <div class="sidebar-top">
            <button class="friends-btn active" onclick="goToFriends()">Friends</button>
        </div>

        <div class="dm-section">
            <h4>Direct Messages</h4>
            <div id="dmList"></div>
        </div>
    </div>

    <!-- RIGHT CONTENT AREA -->
    <div class="content">
        <!-- TOP TABS -->
        <div id="friendsTabs" class="friends-tabs">
            <button class="tab-btn" data-tab="online" onclick="selectTab('online')">Online</button>
            <button class="tab-btn" data-tab="all" onclick="selectTab('all')">All</button>
            <button class="tab-btn" data-tab="pending" onclick="selectTab('pending')">Pending</button>
            <button class="tab-btn" data-tab="add" onclick="selectTab('add')">Add Friend</button>

        </div>

        <!-- MAIN PANEL -->
        <div id="friendSearchContainer" style="display:none; padding: 20px;">
            <input type="text" id="friendsearchInput" class="friendSearch" placeholder="Search friends">
            <!--<button onclick="searchFriends()">Search</button>-->
        </div>

        <div id="friendsContent" class="friends-content"></div>

        <!-- MAIN PANEL 2 -->
        <div id="chat" class="dm-chat">
            <h2 id="chatHeader">Chat with </h2>
            
            <div id="chatMessages" class="chat-messages"></div>
            
            <div class="chat-input-container">
                <input type="text" id="chatInput">
                <!--<button id="sendBtn" onclick="sendMessage('${username}')">Send</button>-->
            </div>
        </div>
    </div>
</div>

<script src="js/friends.js"></script>

</body>
</html>
